body.fill-screen #area-schemes-main,
body.fill-screen #area-schemes-side {
    --x: calc(var(--scene-width) - 40);
}

body.fill-screen #victory-display {
    --x: calc(var(--scene-width) - 670);
}

body.fill-screen #area-removed,
body.fill-screen #removed-pool {
    --x: calc(var(--scene-width) - 520);
}

body.fill-screen #nemesis-pool {
    --x: calc(var(--scene-width) - 370);
}

body.fill-screen #area-advanced {
    --x: calc(var(--scene-width) - 220);
}
